@import '../../colors.scss';
.modal-header{
    font: 25px sans-serif;
    padding: 10px 0 0 0;
}
.info-header{
    font: 20px sans-serif;
    text-align: center;
    margin: 10px;
    margin-bottom: 20px;
}
.info{
    font: 17px sans-serif;
    margin: 5px;
}
input{
    width: 95%;
    resize: none;
    margin: 5px 2.5%;
    margin-top: 15px;
}
.good-button{
    float: right;
    margin: 10px;
}
.cancel-button{
    font-size: 14px;
    margin: 5px;
}
.active-button{
    background-color: $darkblue;
}
.info-warn{
    font: 12px sans-serif;
}
.location{
    margin: 5px 0;
    display: flex;
    justify-content: space-around;
}
.locationName{
    display: inline-block;
    width: calc(100% - 100px);
}
.removeLocation{
    display: inline-block;
    width: 20px;
    text-align: right;
    cursor: pointer;
    font-size: 16px;
}
.removeLocation:hover{
    color: red;
}