<app-header></app-header>

<div class="main-wrapper">
  <button class="good-button">
    <a href="../../../assets/docs/Privacy Statement.docx"
      target="_blank"> 
      Privacy
    </a>
  </button>
  <button class="good-button">
    <a href="../../../assets/docs/Terms of Use.docx"
      target="_blank"> 
      Terms of Use
    </a>
  </button>
  <br>
  <!-- <a href="../../../assets/docs/Couposts Cookies Policy.docx"
    target="_blank"> 
    Cookies Policy
  </a> -->
</div>
<div class="">

</div>
