.modal-header{
    font: 25px sans-serif;
    padding: 10px 0 0 0;
}
.info-header{
    font: 20px sans-serif;
    text-align: center;
    margin: 10px;
}
.good-button{
    float: right;
    margin: 10px;
}