<app-user-signup></app-user-signup>
<div class="container-fluid" 
  id="header" 
  [ngClass]="{clearHeader: clearHeader}">
  <div class="row noflexrow bigHeader">
    <div class="col-sm-4">
      <div class="logo" (click)="home()"></div>
    </div>
    <div class="col-sm-8 text-right">
      <div class="menuitem" 
        (click)="goAbout()">
        About
      </div>
      <div class="menuitem"
        *ngIf="loggedIn"
        (click)="goProfile()">
        Profile
        <div class="dealWarn" *ngIf="userDealCount">{{userDealCount}}</div>
      </div>
      <div class="menuitem" 
        (click)="goSignup()"
        *ngIf="!loggedIn">
        Business?
      </div>
      <div class="menuitem">
        <div *ngIf="loggedIn" 
          (click)="logOut()" 
          class="logout">
          LogOut
        </div>
        <div *ngIf="!loggedIn" 
          (click)="logIn()" 
          class="logout">
          Login
        </div>
      </div>
    </div>
  </div>
  <div class="smallHeader" id="smallHeader">
    <div class="logo" (click)="home()"></div>
    <div class="menu">
      <div class="profile" 
        (click)="drop = !drop"
        [ngClass]="{profileOn: drop}">
      </div>
      <div class="dealWarnSmall" 
        *ngIf="userDealCount">
        {{userDealCount}}
      </div>
      <div class="drop"
        (click)="drop = !drop"
        [ngClass]="{dropdown:drop}">
        <div class="menuitem"
          *ngIf="loggedIn"
          (click)="goProfile()">
          Profile
          <div class="dealWarnSmall" 
            *ngIf="userDealCount">
            {{userDealCount}}
          </div>
        </div>
        <div class="menuitem" 
          (click)="goAbout()">
          About
        </div>
        <div class="menuitem" 
          (click)="goSignup()"
          *ngIf="!loggedIn">
          Business?
        </div>
        <div *ngIf="loggedIn" 
          (click)="logOut()" 
          class="menuitem">
          LogOut
        </div>
        <div *ngIf="!loggedIn" 
          (click)="logIn()" 
          class="menuitem">
          Login
        </div>
      </div>
    </div>
  </div>
</div>