<div class="deal" *ngIf="deal">
  <div [ngStyle]="{'background-image':'url(' + deal.display + ')'}" 
    class="dealImg">
    <div class="timeWarn" *ngIf="time">
      Expires: {{time}}
    </div>
  </div>
  <div class="dealLabel">
    <div class="remainderWarn" *ngIf="home && deal.deal.dealsLeft < 20">
      {{deal.deal.dealsLeft}} remaining
    </div>
    <div class="businessTitle">
      {{deal.business.name}}
    </div>
    <div class="dealTitle">
      {{deal.deal.dealPercentage}}% Off {{deal.deal.dealTitle}}
    </div>
  </div>
  <!-- <div class="hoverOverDiv">
    <div class="addDeals" 
      *ngIf="deal.hover">
    </div>
    <div class="addDealsBack" *ngIf="deal.hover"></div>
  </div> -->
</div>

<div class="deal" *ngIf="!deal">
    <div [ngStyle]="{'background-image':'url(' + previewImage + ')'}" 
      class="dealImg" 
      *ngIf="previewImage">
    </div>
    <div class="dealImg logo" 
      *ngIf="!previewImage">
    </div>
    <div class="dealLabel">
      <div class="businessTitle">
        {{businessName}}
      </div>
      <div class="dealTitle" *ngIf="dealTitle">
        {{percentage}}% Off {{dealTitle}}
      </div>
    </div>
  </div>