<modal #modal>
    <modal-header *ngIf="getStarted">
        How Does It Work?
    </modal-header>
    <modal-header *ngIf="!getStarted">
        User Sign-Up!
    </modal-header>
    <modal-body>
        <!-- <div *ngIf="!currentUser"> -->
        <div  *ngIf="getStarted">
            <ol>
                <li>Select Coupost</li>
                <li>Post an approved picture on your Instagram feed or story.</li>
                <li>Once your post is verified, the coupost will be activated.</li>
                <li>Redeem coupost by going to your profile page here at couposts.com</li>
            </ol>
        </div>
        <div *ngIf="getStarted" class="getStarted">
            Get Started!
        </div>
        <div>
            <input type="text" 
                placeholder="Your Name" 
                [(ngModel)]="user.name"
                *ngIf="!currentUser">
            <input type="email" placeholder="Email Address" [(ngModel)]="user.email">
            <input type="password" placeholder="Password" [(ngModel)]="pass">
            <input type="password" 
                placeholder="Re-enter your password" 
                [(ngModel)]="repass"
                *ngIf="!currentUser">
        </div>
        <!-- <div *ngIf="currentUser">
            <input type="email" placeholder="Email Address" [(ngModel)]="email">
            <input type="password" placeholder="Password" [(ngModel)]="pass">
        </div> -->
        <div (click)="currentUser = !currentUser" 
            class="userSwitch"
            *ngIf="!currentUser">
            Already have an account?
        </div>
        <div (click)="currentUser = !currentUser" 
            class="userSwitch" 
            *ngIf="currentUser">
            Create an Account
        </div>
        <!-- <button (click)="facebookLogin()">FB Login</button> -->
        <!-- <button (click)="instaLogin()">Insta Login</button> -->
    </modal-body>
    <modal-footer>
        <div class="buttons">
            <button class="cancel-button" 
                (click)="close()">
                Close
            </button>
            <button class="good-button" 
                (click)="signup()" 
                *ngIf="!currentUser">
                Sign Up
            </button>
            <button class="good-button" 
                (click)="login()" 
                *ngIf="currentUser">
                Login
            </button>
        </div>
    </modal-footer>
</modal>