@import '../../colors.scss';
.mainImage{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../../../assets/Images/phoneimage.jpg');
    height: 90vh;
    width: 100%;
    position: fixed;
    transform: translateY(-35px);
    z-index: -1;
    top: 85px;
    right: 0;
    transition: all .3s ease;
}
.featuredBox{
    min-height: 100vh;
    display: block;
    text-align: center;
}
.coverMain{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .15;
}
.mainDisplay{
    text-align: center;
    position: absolute;
    width: 100%;
    top: 26%;
}
.logo{
    height: 125px;
    width: 280px;
    margin: auto;
    background-image: url('../../../assets/Images/Couposts_Logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: all .2s ease;
}
.title{
    font: 65px sans-serif;
    color: white;
}
.inputSearch{
    font: 30px poppins;
    width: 50%;
    border-radius: 5px;
    color: white;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    padding-left: 10px;
}
.underTitle{
    font: 36px Poppins;
    color: white;
    margin: 10px 0;
}
.underLine{
    font: 25px Poppins;
    color: white;
    text-decoration: underline;
}
.homeWrap{
    margin-top: calc(90vh + 50px);
    padding-bottom: 30px;
    background-color: rgb(245, 248, 250);
    transition: all .3s ease;
}

@media screen and (max-width: 575px){
    .mainImage{
        height: 300px
    }
    .homeWrap{
        margin-top: 350px;
    }
    .logo{
        height: 85px;
        width: 180px;
    }
    .title{
        font-size: 45px;
    }
    .underTitle{
        font-size: 20px;
    }
}