@import '../../colors.scss';


.businessWrap{
    margin-top: 65px;
    background-color: $lightgrey;
}
.businessWrapOff{
    overflow: hidden;
    height: calc(100vh - 70px);
}
.center{
    justify-content: center;
}
.businessInfo{
    background-color: white;
    position: relative;
    min-height: 600px;
    width: 500px;
    margin: 20px 10px;
    text-align: center;
}
.businessInfoTitle{
    position: absolute;
    top: 3px;
    left: 5px;
    font: 16px sans-serif;
    color: $grey;
}
.editBusinessInfo{
    border: none;
    border-radius: 5px;
    background-color: $grey;
    font: 16px sans-serif;
    color: white;
    padding: 2px 20px;
    position: absolute;
    top: 3px;
    right: 5px;
}
.profilePic{
    position: relative;
    height: 200px;
    width: 200px;
    background-image: url('../../../assets/Images/blankUser.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 30px auto 10px;
}
.hoverTag{
    color: rgba(0,0,0,0);
    position: absolute;
    font-size: 16px;
    bottom: 0px;
    left: 0px;
    padding: 2px 5px;
    border-radius: 2px;
    transition: all .5s ease;
    cursor: auto;
}
.hoverOn{
    cursor: pointer;
    background-color: grey;
    color: white;
}
.userName{
    font: 32px sans-serif;
    width: fit-content;
    color: $dark;
    padding: 10px;
    margin: auto;
    padding-bottom: 0px;
}
.info{
    font: 21px sans-serif;
    color: $grey;
    width: 75%;
    margin: 5px auto;
}
.infoLabel{
    display: inline-block;
    margin-right: 10px;
    width: 100px;
    text-align: right;
    margin: 4px auto;
}
.infoData{
    width: calc(100% - 120px);
    display: inline-block;
    border-bottom: 1px solid $grey;
    text-align: left;
}
input{
    width: calc(100% - 120px);
    border: 2px solid $grey;
    border-radius: 5px;
    margin: auto;
    display: inline-block;
    text-align: left;
}
.good-button{
    background-color: $lightblue;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 8px;
}
.about{
    width: 90%;
    margin: 20px auto;
    resize: none;
    border: 1px solid $grey;
    border-radius: 5px;
    min-height: 125px;
    text-align: left;
    padding: 8px;
    white-space: pre-line;
}

.coupostCreator{
    background-color: white;
    height: auto;
    min-height: 600px;
    width: 350px;
    margin: 20px 10px;
    position: relative;
    text-align: center;
    padding-top: 30px;
}
.addCoupost{
    margin: 30px auto;
}
.coupostLoading{
    margin: 30px 15px 0;
}
.dealContainer{
    height: 200px;
    width: 200px;
    margin: 45px auto 0px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}
.dealTitle{
    font: 18px sans-serif;
    left: 10px;
    bottom: 10px;
    color: grey;
    background-color: rgba(0,0,0,0);
    transition: all .2s ease;
}
.dealImg{
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    cursor: pointer;
}

.analytics{
    background-color: white;
    position: relative;
    min-height: 300px;
    width: 870px;
    margin: 0px auto 50px;
    text-align: center;
}

.mobileHeader{
    display: none;
    background-color: $grey;
    div{
        width: 33%;
        display: inline-block;
        font: 18px sans-serif;
        color: white;
        text-align: center;
        padding: 10px;
    }
    .middleTab{
        border-left: 1px solid $lightgrey;
        border-right: 1px solid $lightgrey;
    }

}
#deal{
    display: inline-block;
    position: relative;
    width: 90%;
    min-width: 325px;
    height: 40%;
    margin: 2% auto;
    border: 1px solid $med;
}



@media screen and (min-width:1000px){
    // .businessInfo{
    //     width: 70%;
    // }
    // .coupostCreator{
    //     width: 70%;
    // }
    // .analytics{
    //     width: 70%;
    // }
}

@media screen and (max-width:991px){
    .businessInfo{
        width: 70%;
    }
    .coupostCreator{
        width: 70%;
    }
    .analytics{
        width: 70%;
    }
}
@media screen and (max-width:767px){
    .info{
        width: 100%;
    }
    .businessInfo{
        width: 90%;
    }
    .coupostCreator{
        width: 90%;
    }
    .analytics{
        width: 90%;
    }
}
@media screen and (max-width:575px){
    .mobileHeader{
        display: flex;
        justify-content: center;
    }
    .mobileAnalytics{
        display: none;
        min-height: 100vh;
        margin-top: 20px;
    }
    .mobileCoupostCreator{
        display: none;
        min-height: 100vh;
    }
    .mobileBusinessInfo{
        display: none;
        min-height: 100vh;
    }
    .mobileAnalyticsOn{
        display: block;
    }
    .mobileCoupostCreatorOn{
        display: block;
    }
    .mobileBusinessInfoOn{
        display: block;
    }
}








//Add Modal

.addModal{
    position: fixed;
    top: 0;
    right: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    transition: all .5s ease;
}
.addModalOn{
    overflow: scroll;
    background-color: white;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.cancelButton{
    position: absolute;
    z-index: 2;
}
.userSees{
    margin: 20px 0;
    border-bottom: 1px solid grey;
}
.addLabel{
    font: 18px sans-serif;
    margin: 25px 0;
}