@import '../../colors.scss';

//Add Modal

.row{
    min-height: 100vh;
    background-color: $lightgrey;
}
.addModal{
    position: fixed;
    top: 0;
    right: 0;
    width: 0%;
    padding: 0;
    height: 100%;
    overflow: hidden;
    transition: all .5s ease;
}
.addModalOn{
    overflow: scroll;
    background-color: white;
    height: 100%;
    width: 100%;
    z-index: 1;
    padding: 0 15px;
}
.cancelButton{
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../../assets/Images/arrow-icon.png');
    transform: rotate(-90deg);
    height: 40px;
    width: 40px;
    cursor: pointer;
}
.userSees{
    font: 18px Poppins;
    color: $grey;
    margin: 20px auto;
    border-bottom: 1px solid grey;
}
.addLabel{
    font: 18px sans-serif;
    margin: 65px 0;
    cursor: pointer;
}

.rightBorder{
    background-color: white;
    padding: 45px 0 0 0;
    border-right: 1px solid $grey;
}

.leftCol{
    //min-height: 100vh;
}


//Deals Section
.stepLabel{
    font: 20px Poppins;
    color: $dark;
    padding: 10px;
    text-align: left;
    border-top: 1px solid $grey;
}
.borderBottom{
    border-bottom: 1px solid $grey;
}
.stepOne{
    height: 0px;
    overflow: hidden;
}
.stepOn{
    height: auto;
}
.step{
    background-color: $lightgrey;
}
.stepFour{
    padding-bottom: 20px;
}
.dealHeader{
    font: 20px sans-serif;
    color: $grey;
    padding: 10px;
    padding-bottom: 0px;
    position: relative;
    text-align: left;
}
.smallHeader{
    font: 17px sans-serif;
    color: $grey;
    padding: 10px;
    padding-bottom: 0px;
    position: relative;
    text-align: left;
    span{
        color: $dark;
    }
}
.percentage{
    font: 20px sans-serif;
    color: $dark;
}
.warn{
    font: 14px sans-serif;
    color: $red;
}
input[type=text]{
    width: 90%;
    border: 1px solid $grey;
    border-radius: 0px;
    margin: 10px auto;
    padding: 5px 8px;
    display: inline-block;
}
input[type=range] {
    -webkit-appearance: none;
    margin: 18px auto;
    width: 90%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 90%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    //box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: $darkblue;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-webkit-slider-thumb {
    //box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid $grey;
    height: 36px;
    width: 12px;
    //border-radius: 3px;
    background: $lightgrey;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
  }
  input[type=range]::-moz-range-track {
    width: 90%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    //box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: $darkblue;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    //box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid $grey;;
    height: 36px;
    width: 12px;
    //border-radius: 3px;
    background: $lightgrey;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 90%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    background: $darkblue;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    //box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid $grey;
    height: 36px;
    width: 12px;
    //border-radius: 3px;
    background: $lightgrey;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: $darkblue;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
  }
input[type=file]{
    width: 90%;
    margin: 10px auto;
    color: $dark;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    color: white;
    background-color: $darkblue;
    padding: 5px 15px;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label * {
	pointer-events: none;
}
input[type=number]{
    width: 90%;
    border: 1px solid $grey;
    border-radius: 0px;
    margin: 10px auto;
    padding: 5px 8px;
    display: inline-block;
}
input[type=date]{
    width: 90%;
    border: 1px solid $grey;
    border-radius: 0px;
    margin: 10px auto;
    padding: 5px 8px;
    display: inline-block;
}
  
.buttons{
    margin-top: 20px;
    text-align: right;
    min-height: 50px;
    div{
        display: inline-block;
    }
}
.saveDeal{
    font-size: 20px;
    border-radius: 5px;
    width: fit-content;
    padding: 5px 15px;
    background-color: $lightblue;
    color: white;
    margin: 10px 0;
    cursor: pointer;
    text-align: center;
}
.cancelDeal{
    font-size: 20px;
    border-radius: 5px;
    width: fit-content;
    padding: 5px 15px;
    background-color: $grey;
    color: white;
    margin: 10px 0;
    cursor: pointer;
    text-align: center;
}
.deleteDeal{
    font-size: 20px;
    border-radius: 5px;
    width: fit-content;
    padding: 5px 15px;
    background-color: $dark;
    color: white;
    margin: 10px 0;
    text-align: center;
}
.sameHeightButtons{
    height: 50px;
    line-height: 40px;
}
.campaignButtons{
    height: 50px;
    line-height: 20px;
}
.rightButtons{
    margin: 10px 5% 10px 0%;
    float: right;
}
.leftButtons{
    float: left;
    margin: 10px 0% 10px 5%;
}
.selectedButton{
    background-color: $darkblue;
}
.redeemButtons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
}
//preview stuff

.preview{
    background-color: $lightgrey;
    padding-bottom: 30px;
}
.dealWrap{
    margin: auto;
    width: 630px;
    min-width: 630px;
    border: 1px solid black;
    position: relative;
    box-shadow: 0px 0px 10px lightgrey;
}
.topDeal{
    text-align: left;
    display: flex;
    align-items: center;
}
.businessInfo{
    display: inline-block;
    width: 375px;
    text-align: center;
    padding-top: 15px;
}
.businessName{
    font: 20px Poppins;
}
.dealName{
    font: 18px Poppins;
    color: rgb(252, 93, 93);
    height: 33px;
}
.dealButton{
    height: 40px;
    background-color: $darkblue;
    color: white;
    font: 18px Poppins;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
.businessImage{
    position: relative;
    height: 200px;
    width: 200px;
    display: inline-block;
    margin: 15px;
    background-image: url('../../../assets/Images/sweet-ice-cream.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.aboutDeal{
    text-align: left;
    font: 16px Poppins;
    padding: 10px;
    border-bottom: 1px solid $lightgrey;
}
.selectImage{
    font: 18px Poppins;
    color: $grey;
    text-align: left;
    padding-left: 30px;
}
textarea{
    border-radius: 5px;
    margin: 10px auto;
    resize: none;
    width: 80%;
    border: 2px solid $grey;
}
.codeHeader{
    font: 16px sans-serif;
    color: $darkblue;
    margin: 10px;
    display: inline-block;
}
.dealColumn{
    overflow-y: scroll; 
    height: 100vh;
}
.dealContainer{
    width: 375px;
    height: 375px;
    margin: 15px auto;
    border-radius: 3px;
    border: 1px solid white;
    position: relative;
    overflow: hidden;
}
.dealTitle{
    font: 18px sans-serif;
    left: 10px;
    bottom: 10px;
    color: grey;
    background-color: rgba(0,0,0,0);
    transition: all .2s ease;
}
.locations{
    padding: 0 20px;
}
.location{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 8px 0px;
    margin: 0 15px;
    color: $grey;
    font: 16px sans-serif;
    cursor: pointer;
}
.underline{
    border-bottom: 1px solid $grey;
    //padding: 8px 15px;
}
.center{
    text-align: center;
}
.locationName{
    display: inline-block;
}
.checkbox{
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 3px;
    background-color: $lightgrey;
    border: 1px solid $dark;
    transition: all .2s ease;
    margin: 0;
    margin-right: 10px;
}
.checkOn{
    background-color: $darkblue;
}

//Contract
.contract{
    margin: auto;
    margin-bottom: 20px;
    width: 95%;
    //min-width: 630px;
    border: 1px solid black;
    position: relative;
    box-shadow: 0px 0px 10px lightgrey;
    background-color: white;
}
h4{
    font: 18px sans-serif;
    color: $grey;
    padding: 10px;
    padding-bottom: 0px;
    position: relative;
    text-align: center;
    span{
        color: $dark;
        font-size: 20px
    }
}
h5{
    font: 17px sans-serif;
    color: $grey;
    padding: 10px;
    padding-bottom: 0px;
    position: relative;
    text-align: left;
    span{
        color: $dark;
        font-size: 20px
    }
}

//summary

.summary{
    border: 1px solid $grey;
    border-radius: 3px;
    background-color: white;
    padding: 10px 30px;
    width: 450px;
    margin: auto;
}
.summaryStep{
    border-bottom: 1px solid grey;
    color: $grey;
    font: 18px sans-serif;
    display: flex;
    justify-content: space-around;
    padding: 10px 5px;
    div{
        width: 150px;
        display: inline-block;
    }
    .summaryHead{
        width: 200px;
        text-align: left;
    }
}

@media screen and (max-width:991px){
    @media screen and (min-width:550px){
        .rightBorder{
            border: 1px solid $grey;
            width: 400px;
            margin: 0 auto 30px;
        }
    }
}
@media screen and (max-width:700px){
    .dealWrap{
        width: 100%;
        min-width: 0;
    }
}
@media screen and (max-width:550px){

    .rightBorder{
        border-right: none;
        border-bottom: 1px solid $grey;
    }
}

#deal{
    display: inline-block;
    position: relative;
    width: 27vw;
    min-width: 325px;
    height: 21vw;
    background-color: white;
    margin: 3% 1% 0;
}
@media screen and (max-width: 1038px){
    #deal{
        width: 40vw;
        height: 28vw;
    }
}
@media screen and (max-width: 678px){
    #deal{
        width: 65vw;
        height: 40vw;
    }
}
@media screen and (max-width: 575px){
    #deal{
        width: 70vw;
        height: 50vw;
    }
}