@import '../../colors.scss';


.aboutHeader{
    font: 20px sans-serif;
    text-align: left;
    padding-left: 15px;
    margin-bottom: 10px;
}
.stepInfo{
    color: $dark;
    font: 14px sans-serif;
    .linkSpan{
        text-align: center;
        margin: 8px 0;
        span{
            color: $darkblue;
            font-size: 18px;
        }
    }
}
.aboutHeaderLabel{
    text-align: center;
    width: 100%;
    font: 20px sans-serif;
    color: $dark;
}
.infoButtons{
    margin: 9px auto;
    width: 100%;
    text-align: center;
    .good-button{
        float: none;
    }
}
.buttonIcon{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 20px;
    width: 20px;
    min-height: 20px;
    min-width: 20px;
    display: inline-block;
}
.web{
    background-image: url('../../../assets/Images/link.png');
}
.insta{
    background-image: url('../../../assets/Images/insta.png');
    transform: translateY(3px);
}
.darkblue{
    background-color: $darkblue;
}
.good-button{
    margin: 5px 0;
    border-radius: 5px;
}
.stepWarn{
    font: 12px sans-serif;
    margin-top: 3px; 
    color: $dark;
    span{
        font-weight: 900;
    }
}
.stepHeader{
    font: 18px sans-serif;
    font-weight: 900;
    margin: 10px 0 5px;
    color: $dark;
}
.checkbox{
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid $darkblue;
    transition: all .5s ease;
    margin: 0;
    margin-right: 10px;
}
.checkOn{
    background-color: $darkblue;
}
.editLabel:hover{
    border: 1px solid $grey;
}
.expiration{
    color: red;
    font: 16px sans-serif;
    margin-bottom: 20px;
}
.big-button{
    width: 90%;
    text-align: center;
    margin: 5px auto;
    transform: translateY(-15px);
}
.buttons{
    width: 100%;
    button{
        padding: 8px 20px;
    }
}
.cancel-button{
    float: left;
}
.good-button{
    float: right;
}
#noBottom /deep/ .modal-header{
    padding-bottom: 0 !important;
}
#noTop /deep/ .modal-body{
    padding-top: 0 !important;
}


@media screen and (min-width:650px){
    #dealModal /deep/ .modal-dialog {
        width: 600px;
        max-width: 600px;
        margin: 30px auto;
    }
}
@media screen and (max-width: 649px){
    #dealModal /deep/ .modal-dialog {
        width: auto !important;
        max-width: 100% !important;
        margin: 30px auto !important;
    }
}
