@import '../../colors.scss';
.userWrap{
    margin-top: 70px;
    padding-bottom: 30px;
    padding-top: 20px;
    transition: all .3s ease;
    min-height: 100vh;
    display: block;
    text-align: center;
    background-color: $lightgrey;
}
.verifyInsta{
    width: 300px;
    text-align: center;
    font: 20px sans-serif;
    margin: 40px auto;
    background-color: $darkblue;
    color: white;
    cursor: pointer;
    padding: 8px;
    box-shadow: 2px 2px 2px grey;
}
.verifyInsta:hover{
    box-shadow: 0px 2px 2px grey;
    transform: translate(1px,1px);
}
.dealsLoading{
    text-align: center;
    width: 200px;
    font: 25px sans-serif;
    margin: 60px auto;
}
.dealHeader{
    font: 24px sans-serif;
}
.lineSeparator{
    width: calc(100% - 60px);
    margin: 30px;
    border-bottom: 1px solid grey;
}
.acceptDesc{
    font: 24px sans-serif;
}
.approveWarn{
    font: 15px sans-serif;
    color: rgb(224, 46, 46);
    margin-top: 15px;
}
.stepInfo{
    font: 14px sans-serif;
    span{
        color: $darkblue;
    }
}
.stepWarn{
    font: 12px sans-serif;
    margin-top: 3px;
}
.stepHeader{
    font: 18px sans-serif;
    font-weight: 900;
    margin: 10px 0 5px;
}
#deal{
    display: inline-block;
    position: relative;
    width: 27vw;
    min-width: 325px;
    height: 21vw;
    background-color: white;
    margin: 3% 1% 0;
}
@media screen and (max-width: 1038px){
    #deal{
        width: 40vw;
        height: 28vw;
    }
}
@media screen and (max-width: 678px){
    #deal{
        width: 65vw;
        height: 40vw;
    }
}
@media screen and (max-width: 575px){
    #deal{
        width: 70vw;
        height: 50vw;
    }
}

//Modals
/deep/ #userModal .modal-footer{
    display: block;
  }
  .cancel-button{
      float: left;
  }
.stepInfo{
    font: 14px sans-serif;
}
.stepHeader{
    font: 16px sans-serif;
    margin: 10px 0 5px;
}
.aboutHeader{
    font: 20px sans-serif;
    text-align: left;
    padding-left: 15px;
}
.denyHeader{
    font-size: 24px;
    text-align: center;
    margin-bottom: 8px;
    color: red;
}
.dealTitle{
    font: 18px sans-serif;
    left: 10px;
    bottom: 10px;
    color: grey;
    background-color: rgba(0,0,0,0);
    transition: all .2s ease;
}
.checkbox{
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid $darkblue;
    transition: all .5s ease;
    margin: 0;
    margin-right: 10px;
}
.checkOn{
    background-color: $darkblue;
}
.editLabel:hover{
    border: 1px solid $grey;
}
@media screen and (max-width: 575px){
    .dealContainer{
        width: 325px;
    }
    .dealImg{
        height: 325px;
        width: 325px;
    }
}