.insta{
    background-image: url('../../../assets/Images/Instagram-black.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100px;
    width: 100px;
    margin: auto;
}
.instaOn{
    background-image: url('../../../assets/Images/Instagram-color.png');
}
.fb{
    background-image: url('../../../assets/Images/facebook-black1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100px;
    width: 100px;
    margin: auto;
}
.fbOn{
    background-image: url('../../../assets/Images/facebook-color1.png');
}